---
layout: default
image: /images/logo_og.jpg
---
{% assign posts_count = paginator.posts | size %}

<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      <div class="post py3">
        <p class="post-meta">Jul 19, 2022</p>
        <a href="/book" class="post-link"><h3 class="h1 post-title">Immutability Against The Machine @JBCNConf!</h3></a>
        <span class="post-summary">
          I am speaking at 🇪🇸<a href="https://www.jbcnconf.com/2022/">JBCNConf</a>🇪🇸 this year! The talk is about functional programming and immutability. Please go the the <a href="/talks">Talks</a> section to get the abstract, code repository, and slides. If you are interested in learning more about FP in a more systamatic (and still fun!) way, have a look at the <a href="/book">Book</a> section (pssssst... the code I mentioned during presentation is <code class="language-plaintext highlighter-rouge">watchplachta40</code>). As always, I am <a href="/contact">waiting for your comments, questions, and feedback</a>. Enjoy the FP ride!
        </span>
      </div>
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
