---
layout: default
image: /images/logo_og.jpg
---
{% assign posts_count = paginator.posts | size %}

<div class="home">
  <div class="card">
    <div class="card-image">
      <figure class="image is-2by1">
        <a href="https://www.manning.com/books/grokking-functional-programming?a_aid=michal&a_bid=7c041142" target="_blank">
          <img src="/images/grokkingfp/book_promo_big.png" alt="Functional design, real-world examples, and hundreds of snippets and exercises">
        </a>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">Grokking Functional Programming is out now!</p>
          <p class="subtitle is-6">Learn FP in a fun and practical way</p>
        </div>
      </div>
  
      <div class="content">
        <p>If you've worked on a team who struggled with lots of bugs and maintainability issues, this is a book for you!</p>
        
        <p>You will learn how to use functional programming techniques to create bulletproof and readable codebases.</p>
        
        <p>Hundreds of code snippets, illustrations, and exercises will make you a productive functional programmer.</p>

        <p>⭐⭐⭐⭐⭐ 5 stars on <a href="https://www.goodreads.com/book/show/62893614-grokking-functional-programming">Goodreads</a>!</p>

        <p>➡️ Grab your copy now from <a href="https://www.manning.com/books/grokking-functional-programming?a_aid=michal&a_bid=7c041142">Manning</a> or <a href="https://www.amazon.com/Grokking-Functional-Programming-Michal-Plachta/dp/1617291838/">Amazon</a>.</p>
      </div>
    </div>
  </div>

  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
